@charset "UTF-8";
/*
em html é id = em css é #
em html é class = em css é .
*/
body{
  background-color: #F2E3D0;
  font-family: Arial, Helvetica, sans-serif;
}

 h1{
  color: #402D26;
 }

h1#principal{
  text-align: center;
  background-color:#402D26;
  color: #F2E3D0;
}

 h2{
  color: #402D26;
 }
.basico{
color: #3c5734;
 }
.intermediario{
color: #c1853b;
}
.avançado{
color: #b53e33;
}
.destaque{
  background-color: #c1853b43;
}